<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background: url("/static/app/images/wallpaperflare.com_wallpaper.jpg") center;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
}


    </style>
</head>
<body>

   {% include 'main/nav.html' %}

{#<div class="youtube-link"><a href="https://youtu.be/yVASR6lRjwM" target="self">Watch on YouTube</a></div>#}

</body>
</html>