{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Python Practice</title>
      <style>
          .active {
              padding: 20px;
              font-size: 20px;
          }
      </style>
  </head>
  <body>
  {% include 'main/nav.html' %}
    <h1 style="margin-top: 100px">Python Practice</h1>
    <ul>
      <li>
        <div class="active" style="background-color: lightblue;">
          <a href="{% url "small_questions" %}">Small Questions</a>
        </div>
      </li>
      <li>
        <div class="active" style="background-color: lightgray;">
          <a href="{% url "long_questions" %}">Long Questions</a>
        </div>
      </li>
      <li>
        <div class="active" style="background-color: lightyellow;">
          <a href="{% url "python_programming_questions" %}">Python Programming Questions</a>
        </div>
      </li>
    </ul>
  </body>
</html>
