<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python_meaning</title>
    <style>
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-section {
  width: 20%;
  background-color: lightyellow;
  padding-top: 30px;
}
.right-section {
    width: 80%;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
h1 {
    text-align: center;
}
a {
    font-size: 30px;
    padding-left: 50px;
}

/* adjust the height and width as desired */


    </style>
    <script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
  $(".show-hide-btn").click(function() {
    var id = $(this).data("id");
    $("#half-" + id).toggle();//hide/show..
    $("#full-" + id).toggle();
  })
})
</script>
    </script>
</head>
<body>

 <div class="container">
  <div class="left-section">
    <!-- content for the left section goes here -->
      {% for mean in meaning %}
          <li><a href="#{{ mean.title}}">{{ mean.title }}<br></a><br></li>
      {% endfor %}
  </div>
  <div class="right-section">
    <!-- content for the right section goes here -->
      {% for mean in meaning %}
     <h1>{{ mean.title }}</h1>
     <p>{{ mean.text }}</p>
      {% endfor %}
  </div>

</div>
{# | truncatechars:500#}




</body>
</html>